<header class="header" role="banner">
  <div class="name-wrapper">
    Darpan Dasani
  </div>

  <button id="nav-icon" 
          (click)="toggleMenu()" 
          [class.open]="isOpen" 
          aria-label="Toggle Navigation" 
          [attr.aria-expanded]="isOpen"
          type="button">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="nav-container" [class.open]="isOpen">
    <nav role="navigation" aria-label="Main Navigation">
      <a href="#about-me" (click)="closeMenu()">Home</a>  
      <a href="#about-me" (click)="closeMenu()">About</a>
      <a href="#skills" (click)="closeMenu()">Skills</a>
      <a href="#portfolio" (click)="closeMenu()">Projects</a>
    </nav>
  </div>
</header>